<header class="noselect">
    <div class="fullpage valign-wrapper">
        <div class="content-text center-align">
            <img class="logo-header" src="https://raw.githubusercontent.com/Lugdunum3D/Visual-Identity/master/logo/dist/png/300dpi/lugbench-long-dark.png" alt="LugBench">
            <h4 class="presentation-text">
              Découvrez les performances graphiques<br/>de tous vos appareils
            </h4>
            <div class="container">
                <div class="row">
                    <a class="btn bnt-large btn-download" href="https://play.google.com/store/apps/details?id=eu.lugbench&hl=en" target="blank">
                        ANDROID
                    </a>
                    <a class="btn bnt-large btn-download" href="#">
                        WINDOWS
                    </a>
                    <a class="btn bnt-large btn-download" href="#">
                        LINUX
                    </a>
                </div>
            </div>
        </div>
    </div>
    <video playsinline autoplay muted loop poster="app/devices/images/home.png" id="bgvid">
      <source src="app/devices/images/home.webm" type="video/webm">
      <source src="app/devices/images/home.mp4" type="video/mp4">
    </video>
</header>
