<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                LugBench
            </a>
        </div>
    </div>
</nav>
