<div class="container-fluid">
  <div class="text-center">
    <h3>Here are our binaries</h3>
  </div>
  <hr>
  <div class="text-center">
    <h3>Linux</h3>
    <a class="btn btn-primary btn-download">Download the Linux binaries</a>
  </div>
  <div class="text-center">
    <h3>Windows</h3>
    <a class="btn btn-primary btn-download">Download the Windows binaries</a>
  </div>
  <hr>
  <div class="text-center">
    <a class="btn btn-primary" routerLink="/gpus">Return to the GPUs</a>
  </div>
</div>
