<nav>
    <div class="nav-wrapper">
        <!-- <a href="" class="brand-logo center">Logo</a> -->
        <!-- <a materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
        <ul class="left">
            <li><a routerLink="devices">Devices</a></li>
            <li><a routerLink="downloads">Download</a></li>
        </ul>
        <!-- <ul class="side-nav" id="mobile-demo">
            <li><a routerLink="devices">Devices</a></li>
            <li><a routerLink="downloads">Download</a></li>
        </ul> -->
    </div>
</nav>
