<div class="container">
    <h1>Scenarios</h1>
    <nav>
        <div class="search-form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search">
            </div>
        </div>
    </nav>
    <div class="row card" *ngFor="let scenario of this.scenarios" (click)="goToScenario(scenario._id)">
        <div class="col-sm-2 primary-information">
        </div>
        <div class="col-sm-8 secondary-information">
            <p>{{ scenario.name }}</p>
        </div>
        <div class="col-sm-2 tertiary-information">
            <p>Number frames</p>
            <p>Number fps</p>
        </div>
    </div>
</div>