<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row text-center">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% gpus.forEach(function(gpu) { %>
                      <tr>
                        <td><%= gpu.id =></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
