 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div class="row">
<div style="padding: 300px">
    <div class="col s12 card-panel hoverable cyan">
    <div class="col s5" center-align> <img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt=""> </div>
    <div class="col s7"><span class="flow-text">Title plus download here</span></div>
  </div>
</div>
</div>

<!-- <div class="page-content">
    <button class="btn btn-primary" onclick="location.href='https://github.com/Lugdunum3D/LugBench'">Download <i class="glyphicon glyphicon-download-alt"></i></button>
</div> -->

 <div class="row">
 
  <div class="col s12 card-panel hoverable cyan ">
    <div class="col s5 center-align"> <img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt=""> </div>
    <div class="col s7"><span class="flow-text">LugBench est un outil de benchmarking fonctionnant aussi bien sur ordinateur que sur mobile / tablette. Il est disponible sous Windows, Linux et Android.</span></div>
  </div>

  <div class="col s12 card-panel hoverable purple">
    <div class="col s7"> <span class="flow-text">LugBench repose sur des technologies innovantes pour permettre d'effectuer des tests de performances graphique pousses sur la plus grande variete d'appareil possible. Le coeur de LugBench est un moteur 3D que nous avons developpés nous meme, en nous servant d'une API 3D de derniere generation : Vulkan.
    Notre moteur, Lugdunum, en tirant sa puissance de Vulkan, peut fonctionner sur un panel impresionnant de devices, sans avoir a modifier une seule ligne du code source des projets. Ainsi vous pouvez tester les performances graphiques de votre ordinateur et de votre tablette ou smartphone, en ayant un referenciel unique.
    De plus, Vulkan permet un rendement superieur de plus de 40% en terme de performances pure, nous permettant de vous offrir des scènes à couper le soufle, meme sur votre téléphone !</span></div>
    <div class="col s5 center-align"><img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt=""></div>
  </div>

 <div class="col s12 card-panel hoverable cyan">
    <div class="col s5 center-align"> <img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt=""> </div>
    <div class="col s7"><span class="flow-text">
      <ul>
      <li><p>* En se basant sur Lugdunum, LugBench permet d'afficher sur vos devices, meme les moins performants, des scènes à couper le soufle, tout en optimisant les ressources nécessaires, grace à une technique de rendu dit photo-realistes</p></li>
      <li><p>* Cela nous permet d'obtenir des images proches du réel sans avoir de surconsommation de batterie sur les appareils mobiles, et en observant une optimisation des performances graphiques sur ordinateur</p></li>
      </ul>
    </span></div>
  </div>

    <div class="col s12 card-panel hoverable purple">
    <div class="col s7"> <span class="flow-text">Que ce soit sur votre ordinateur ou votre smartphone, tous les resultats des tests que vous executez sont envoyés sur nos serveurs de façon anonyme, vous permettant de comparer les performances de votre device avec celles de millions d'autres utilisateurs.</span></div>
    <div class="col s5 center-align"><img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt=""></div>
  </div>

</div>