<div class="page-header">
    <div class="text-center vertical-align">
        <img src="https://cdn.rawgit.com/Lugdunum3D/Visual-Identity/dee42e2c/logo/dist/long.svg" alt="">
    </div>
</div>
<div class="page-header">
    <div class="text-center vertical-align">
        <p>Here is the header of the page</p>
    </div>
</div>
<div class="page-content">
    <h4>This is the content of the page. Do whatever you want with it.</h4>
    <p>For instance you can download the latest version of lugbench here</p>
    <button class="btn btn-primary" onclick="location.href='https://github.com/Lugdunum3D/LugBench'">Download <i class="glyphicon glyphicon-download-alt"></i></button>
</div>