$primary-color: #4db7ff;
$blue: #039be5;

nav { background-color: #383838; }
.circle-element { border-radius: 0; width: 42px; height: 42px; }
.clickable { cursor: pointer }

.framed {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px;
  box-sizing: border-box;
}

.no-margin-bottom { margin-bottom: 0px; }
.level-fps-wrapper {
    padding: 0 !important; height: 20px;
    .level-fps {
        position: absolute; background: $primary-color; height: 100%; width: 0%; transition: width 750ms ease-in-out; color: white; }
        span { position: absolute; margin-left: 10px; min-width: 100px; }
}

.tabs .tab a { color: $primary-color; opacity: 0.5; }
.tabs .tab a:hover { color: $primary-color; opacity: 0.7; }
.tabs .tab a.active { color: $primary-color; opacity: 1; }
.tabs .indicator { background-color: $primary-color; }

.parallax-container-custom-homepage {
    width: 100%;
}
.parallax-custom-homepage {
    z-index: -1;
    text-align: center;
    img {
        width: 50%;
        transform: translateY(0);
    }
}
.container-custom-homepage {
    min-height: calc(100vh - 64px);
    box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding-top: 64px;

}
.presentation-text {
  color: rgba(255, 255, 255, 0.8);
}
.logo-header {
  max-width: 500px;
}
.list-devices {
    margin-bottom: 0;
    h1 {
      padding-top: 20px;
    }
}

.btn-login,
.btn-login:hover,
.btn-login:active,
.btn-login:focus {
  margin: 0 10px;
  background-color: $blue;
}

.btn-download,
.btn-download:hover,
.btn-download:active,
.btn-download:focus {
  margin: 20px;
  background-color: $blue;
  transition: background-color 500ms ease-in-out;
}

/* homepage */
header {
  position: relative;
  .fullpage {
    width: 100%;
    min-height: calc(100vh - 64px);
    justify-content: center;
  }

  a {
    cursor: pointer;
  }
}

.nav-separator {
  margin-top: 64px;
}

/* SCORES */
.card.card-score {
  min-height: 170px;
}

.card.card-score .card-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* OVERRIDES */
.side-nav {
  z-index: 996;
}

.nav-wrapper {
  z-index: 999;
}

.brand-logo {
  left: 32px;
}

.btn-primary {
  background-color: $primary-color;
  color: white;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }

  .logo-header {
    max-width: 100%;
  }

  .presentation-text {
    font-size: 1.5rem;
  }

  .side-nav {
    z-index: 9999;
  }
}

.menu {
  cursor: pointer;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

#features {
  margin-top: 20px;
  .card {
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 50px !important;
    font-weight: 18px !important;
  }
}
#properties {
  margin-top: 20px;
  thead {
    font-weight: bold;
  }
  td {
    overflow-wrap: break-word;
  }
  .card-sparse {
    font-weight: bold;
    overflow-wrap: break-word;
    margin-top: 10px;
    padding: 20px !important;
    font-weight: 18px !important;
  }
}
#formats {
  .card-title {
    margin-bottom: 20px;
  }
  .format-title {
    font-size: initial;
  }
}
#queues {
  table tr td:first-child {
    font-weight: bold;
  }
}
#properties, #memory, #extensions, #formats, #queues, #swapchain {
  .card-title {
    font-size: 2.56em;
    font-weight: initial;
  }
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(app/devices/images/home.png) no-repeat;
  background-size: cover;
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-devices {
  color: $blue;
  cursor: pointer;
  i {
    font-size: 50px;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    margin-top: 120px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
.fade-up {
  animation-name: fade-up;
  animation-fill-mode: forwards;
  animation-duration: 700ms;
}

.fade-up-1 {
  opacity: 0;
  animation-name: fade-up;
  animation-fill-mode: forwards;
  animation-duration: 700ms;
  animation-delay: 700ms;
}
