nav { background-color: #383838 }
.circle-element { border-radius: 0; width: 42px; height: 42px; }
.clickable { cursor: pointer }
.no-margin-bottom { margin-bottom: 0px; }
.level-fps-wrapper {
    padding: 0 !important; height: 20px;
    .level-fps {
        span { margin-left: 10px; }
        position: absolute; background: #4db7ff; height: 100%; width: 0%; transition: width 750ms ease-in-out; color: white; }
}
.tabs .tab a { color: #4db7ff; opacity: 0.5; }
.tabs .tab a:hover { color: #4db7ff; opacity: 0.7; }
.tabs .tab a.active { color: #4db7ff; opacity: 1; }
.tabs .indicator { background-color: #4db7ff; }

.banner-container {
    img { width: 100%; }
    .banner {
        position: absolute;
        z-index: 98;
        color: white;
    }
}
