nav { background-color: #383838 }
.circle-element { border-radius: 0; width: 42px; height: 42px; }
.clickable { cursor: pointer }
.no-margin-bottom { margin-bottom: 0px; }
.level-fps-wrapper {
    padding: 0 !important; height: 20px;
    .level-fps {
        position: absolute; background: #4db7ff; height: 100%; width: 0%; transition: width 750ms ease-in-out; color: white; }
        span { position: absolute; margin-left: 10px; min-width: 100px; }
}

.tabs .tab a { color: #4db7ff; opacity: 0.5; }
.tabs .tab a:hover { color: #4db7ff; opacity: 0.7; }
.tabs .tab a.active { color: #4db7ff; opacity: 1; }
.tabs .indicator { background-color: #4db7ff; }

.parallax-container-custom-homepage {
    width: 100%;
}
.parallax-custom-homepage {
    z-index: -1;
    text-align: center;
    img {
        width: 50%;
        transform: translateY(0);
    }
}
.container-custom-homepage {
    min-height: calc(100vh - 64px);
    box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.05);
    background-color: white;

}
.presentation-text {
  color: rgba(0,0,0,0.5);
}
.logo-header {
  max-width: 500px;
}
.list-devices {
    margin-bottom: 0;
}

.btn-download {
  margin: 20px;
  background-color: #039be5;
  transition: background-color 500ms ease-in-out;
}

.btn-download:hover {
  background-color: #00699c;
}

/* homepage */
header {
  position: relative;
  .fullpage {
    width: 100%;
    min-height: calc(100vh - 64px);
    justify-content: center;
  }

  .wrapper-arrow {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }

  a {
    cursor: pointer;
  }
}
