<div class="parallax-container-custom-homepage">
    <div class="parallax-custom-homepage">
        <img src="https://raw.githubusercontent.com/Lugdunum3D/Visual-Identity/master/logo/dist/png/600dpi/lugbench-long.png" alt="">
        <div class="container">
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nam harum magnam at, natus.
            </h4>
        </div>
        <!-- <img src="https://raw.githubusercontent.com/Lugdunum3D/Visual-Identity/master/logo/dist/png/600dpi/lugbench-short.png" alt=""> -->
        <!-- <img src="http://materializecss.com/images/parallax1.jpg" alt=""> -->
    </div>
</div>
<div class="container-custom-homepage">
    <div class="container">
        <div class="row list-devices" *ngIf="this.devices && this.devices.length > 0">
            <h1 class="header">Devices</h1>
            <a class="col s12 clickable" *ngFor="let device of this.devices" [routerLink]="[device.device._id, 'performances']">
                <div class="card hoverable" [id]="'device-' + device.device._id">
                    <div class="card-content">
                        <div class="row no-margin-bottom">
                            <div class="col m6 s2">
                                <img class="circle circle-element" [src]="'./app/devices/images/' + device.device.os + '_logo.png'">
                            </div>
                            <div class="col s10">
                                <span class="card-title">{{ device.device.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action level-fps-wrapper">
                        <div class="level-fps">
                            <span>{{ device.averageFps | number: '.1-2' }} fps</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
