<div class="container">
    <h1>Devices</h1>
    <nav>
        <div class="search-form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search">
            </div>
        </div>
    </nav>
    <div class="row card" *ngFor="let device of this.devices" (click)="goToDevice(device._id)">
        <div class="col-sm-2 primary-information">
            <!-- <img src="./app/devices/images/{{ device.os }}_logo.png" class="logo img-responsive" alt=""> -->
            <div>{{ device.driverVersion }}</div>
        </div>
        <div class="col-sm-8 secondary-information">
            <p>{{ device.name }}</p>
            <p>Date last test | GPU name</p>
        </div>
        <div class="col-sm-2 tertiary-information">
            <p>Number frames</p>
            <p>Number fps</p>
        </div>
    </div>
    <div class="text-center" *ngIf="!this.devices">
        <i class="glyphicon glyphicon-repeat rotating spinner"></i>
    </div>
</div>