<ul id="slide-out" class="side-nav fixed">
  <li class="nav-separator"></li>
  <li [ngClass]="{'active' : tabIndex === 'performances'}">
    <a [routerLink]="['/devices', this.deviceId, 'performances']"><i class="material-icons">trending_up</i>Performances</a></li>
  <li [ngClass]="{'active' : tabIndex === 'properties'}">
    <a [routerLink]="['/devices', this.deviceId, 'properties']"><i class="material-icons">subject</i>Properties</a></li>
  <li [ngClass]="{'active' : tabIndex === 'features'}">
    <a [routerLink]="['/devices', this.deviceId, 'features']"><i class="material-icons">star_rate</i>Features</a></li>
  <li [ngClass]="{'active' : tabIndex === 'memory'}">
    <a [routerLink]="['/devices', this.deviceId, 'memory']"><i class="material-icons">memory</i>Memory</a></li>
  <li [ngClass]="{'active' : tabIndex === 'extensions'}">
    <a [routerLink]="['/devices', this.deviceId, 'extensions']"><i class="material-icons">extension</i>Extensions</a></li>
  <li [ngClass]="{'active' : tabIndex === 'formats'}">
    <a [routerLink]="['/devices', this.deviceId, 'formats']"><i class="material-icons">format_align_center</i>Formats</a></li>
  <li [ngClass]="{'active' : tabIndex === 'queues'}">
    <a [routerLink]="['/devices', this.deviceId, 'queues']"><i class="material-icons">queue</i>Queues</a></li>
  <li [ngClass]="{'active' : tabIndex === 'swapchain'}">
    <a [routerLink]="['/devices', this.deviceId, 'swapchain']"><i class="material-icons">link</i>Swapchain</a></li>
</ul>
<div class="content-tab">
  <div class="container-fluid">
    <div class="content" *ngIf="device">
      <div id="performancesTab" class="tab-content" *ngIf="tabIndex === 'performances' && device.vulkanInfo.properties !== null">
        <section class="section">
          <div class="page-content">
            <scores-component></scores-component>
          </div>
        </section>
      </div>
      <div id="propertiesTab" class="tab-content" *ngIf="tabIndex === 'properties' && device.vulkanInfo.properties !== null">
      <properties-component [device]="device"></properties-component>
    </div>
    <div id="featuresTab" class="tab-content" *ngIf="tabIndex === 'features' && device.vulkanInfo.features !== null">
      <features-component [device]="device"></features-component>
    </div>
    <div id="memoryTab" class="tab-content" *ngIf="tabIndex === 'memory'">
      <memory-component [device]="device" [tabIndex]="tabIndex"></memory-component>
    </div>
    <div id="extensionsTab" class="tab-content" *ngIf="tabIndex === 'extensions' && device.vulkanInfo.extensions !== null">
      <extensions-component [device]="device"></extensions-component>
    </div>
    <div id="formatsTab" class="tab-content" *ngIf="tabIndex === 'formats' && device.vulkanInfo.formats !== null">
      <formats-component [device]="device"></formats-component>
    </div>
    <div id="queuesTab" class="tab-content" *ngIf="tabIndex === 'queues' && device.vulkanInfo.queues !== null">
      <queues-component [device]="device"></queues-component>
    </div>
    <div id="swapchainTab" class="tab-content" *ngIf="tabIndex === 'swapchain' && device.vulkanInfo.swapchain !== null">
      <swapchain-component [device]="device"></swapchain-component>
    </div>
  </div>
  <div class="text-center" *ngIf="!device" style="margin-top: 50px;">
    <i class="glyphicon glyphicon-repeat rotating spinner"></i>
  </div>
</div>
