<header class="noselect">
    <div class="fullpage valign-wrapper">
        <div class="content-text center-align">
            <img class="logo-header" src="https://raw.githubusercontent.com/Lugdunum3D/Visual-Identity/master/logo/dist/png/300dpi/lugbench-long-dark.png" alt="LugBench">
            <h4 class="presentation-text">
              Découvrez les performances graphiques<br/>de tous vos appareils
            </h4>
            <div class="container">
                <div class="row">
                    <a class="btn bnt-large btn-download" href="#">
                        ANDROID
                    </a>
                    <a class="btn bnt-large btn-download" href="#">
                        WINDOWS
                    </a>
                    <a class="btn bnt-large btn-download" href="#">
                        LINUX
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-arrow">
        <div (click)="goToDevices()" class="btn-devices">
          <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <video playsinline autoplay muted loop poster="app/devices/images/home.png" id="bgvid">
      <source src="app/devices/images/home.webm" type="video/webm">
      <source src="app/devices/images/home.mp4" type="video/mp4">
    </video>
</header>
<div id="devices" class="container-custom-homepage noselect">
    <div class="row">
        <div class="col l5">
            <div class="card">
                <div class="card-content">
                    <div class="container">
                        <form>
                            <h4>
                              Filtrer
                            </h4>
                            <div class="col s4 center-align">
                                <a class="clickable">
                                    <img class="circle circle-element framed" [src]="'./app/devices/images/Android_logo.png'">
                                </a>
                            </div>
                            <div class="col s4 center-align">
                                <a class="clickable">
                                    <img class="circle circle-element framed" [src]="'./app/devices/images/Linux_logo.png'">
                                </a>
                            </div>
                            <div class="col s4 center-align">
                                <a class="clickable">
                                    <img class="circle circle-element framed" [src]="'./app/devices/images/Windows_logo.png'">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l7">
            <div class="row list-devices" *ngIf="this.devices && this.devices.length > 0">
                <a class="col s12 clickable" *ngFor="let device of this.devices" [routerLink]="[device.device._id, 'performances']">
                    <div class="card hoverable" [id]="'device-' + device.device._id">
                        <div class="card-content">
                            <div class="row no-margin-bottom">
                                <div class="col s2">
                                    <img class="circle circle-element" [src]="'./app/devices/images/' + device.device.os + '_logo.png'">
                                </div>
                                <div class="col s10">
                                    <span class="card-title">
                                      {{ device.device.name }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-action level-fps-wrapper">
                            <div class="level-fps">
                                <span>
                                  {{ device.averageFps | number: '.1-2' }} fps
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
