<section id="features" class="container">
  <div class="page-content">
    <div *ngFor="let featureKey of this.featureKeys; let i = index">
      <div *ngIf="i % 3 === 0" class="row">
        <div *ngIf="featureKey"
              [class.green]="this.device.vulkanInfo.features[featureKey] === true"
              [class.red]="this.device.vulkanInfo.features[featureKey] === false"
              class="col s12 m3 card lighten-4 text-center">
          {{featureKey}}
        </div>
        <div *ngIf="featureKey" class="col m1"></div>
        <div *ngIf="this.featureKeys[i + 1]"
              [class.green]="this.device.vulkanInfo.features[featureKeys[i + 1]] === true"
              [class.red]="this.device.vulkanInfo.features[featureKeys[i + 1]] === false"
              class="col s12 m3 card lighten-4 text-center">
          {{this.featureKeys[i + 1]}}
        </div>
        <div *ngIf="featureKey" class="col m1"></div>
        <div *ngIf="this.featureKeys[i + 2]"
              [class.green]="this.device.vulkanInfo.features[featureKeys[i + 2]] === true"
              [class.red]="this.device.vulkanInfo.features[featureKeys[i + 2]] === false"
              class="col s12 m3 card lighten-4 text-center">
          {{this.featureKeys[i + 2]}}
        </div>
      </div>
    </div>
  </div>
</section>
