<div class="container">
  <section class="section">
    <div class="page-header">
      <h2>Memory type</h2>
    </div>
    <div class="page-content" style="overflow: auto">
      <table class="table table-striped table-bordered table-responsive" *ngFor="let memoryType of device.vulkanInfo.memory.memoryTypes; let heapIndex = index">
        <thead>
          <tr>
            <th colspan="2">
              Memory type {{ heapIndex }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="key">
              <span>Heapindex</span>
            </td>
            <td>
              <span>{{ memoryType.heapIndex }}</span>
            </td>
          </tr>
          <tr>
            <td class="key">Flags</td>
            <td *ngIf="memoryType.propertyFlags && memoryType.propertyFlags.length">
              <span *ngFor="let propertyFlag of memoryType.propertyFlags">
                {{ propertyFlag }},
              </span>
            </td>
            <td *ngIf="!memoryType.propertyFlags || !memoryType.propertyFlags.length">
              <span>
                No flags
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="section">
    <div class="page-header">
      <h2>Memory heap</h2>
    </div>
    <div class="page-content" style="overflow: auto">
      <table class="table table-striped table-bordered table-responsive" *ngFor="let memoryHeap of this.device.vulkanInfo.memory.memoryHeaps; let memoryHeapIndex = index">
        <thead>
          <tr>
            <th colspan="2">
              Memory heap {{ memoryHeapIndex }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="key">Memory size</th>
            <td>{{ memoryHeap.size }}</td>
          </tr>
          <tr>
            <th class="key">Property flags</th>
            <td *ngIf="memoryHeap.flags.length">
              <div *ngFor="let flag of memoryHeap.flags">
                {{ flag }}
              </div>
            </td>
            <td *ngIf="!memoryHeap.flags.length">
              <div>No flags</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
