<div class="row">
    <div *ngFor="let score of this.scores">
        <div class="col l3 m4 s4">
            <div class="card card-score fade-up">
                <div class="card-content">
                    <div class="c100 p{{ score.averageFps / this.max * 100 | round }}">
                        <span>{{ score.averageFps | round }} fps</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p>{{ score.nbFrames }} Number of frames</p>
                    <p>{{ score.date | date:'longDate' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
