<div id="swapchain" class="container">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Properties</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr>
                    <th width="30%">Max image array Layers</th>
                    <td width="70%">{{ swapchain.maxImageArrayLayers }}</td>
                </tr>
                <tr>
                    <th width="30%">Min image count</th>
                    <td width="70%">{{ swapchain.minImageCount }}</td>
                </tr>
                <tr>
                    <th width="30%">Max image count</th>
                    <td width="70%">{{ swapchain.maxImageCount }}</td>
                </tr>
                <tr>
                    <th width="30%">Surface extension</th>
                    <td width="70%">{{ swapchain.surfaceExtension }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Formats</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr *ngFor="let format of swapchain.formats; let indexFormat = index">
                    <th width="30%">{{ indexFormat }}</th>
                    <td width="70%">{{ format }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Present modes</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr *ngFor="let mode of swapchain.presentModes; let indexMode = index">
                    <th width="30%">#{{ indexMode }}</th>
                    <td width="70%">{{ mode }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Supported composite alpha</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr *ngFor="let composite of swapchain.supportedCompositeAlpha; let indexComposite = index">
                    <th width="30%">#{{ indexComposite }}</th>
                    <td width="70%">{{ composite }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Supported transforms</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr *ngFor="let transform of swapchain.supportedTransforms; let indexTransform = index">
                    <th width="30%">#{{ indexTransform }}</th>
                    <td width="70%">{{ transform }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Supported usage flags</div>
        <table class="table table-striped table-bordered table-responsive">
            <tbody>
                <tr *ngFor="let flag of swapchain.supportedUsageFlags; let indexFlag = index">
                    <th width="30%">#{{ indexFlag }}</th>
                    <td width="70%">{{ flag }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
